.view-content{
    margin: 50px;
}

table {
    width: 100%;
}


.Thead {
    border:none;
    background-color: rgb(61, 61, 61);
}

.Thead td {
    text-align: center;
    border: none;
    padding: 8px;
}

.table-data {
    border:none;
    background-color: rgb(207, 210, 212);
    color: black;
}

.table-data td{
    padding: 8px;
    text-align: center;
    border: none;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header button {
    border-radius: 3px;
    border:none;
    height: fit-content;
    background-color: rgb(237, 105, 56);
    color: aliceblue;
    width:80px;
    padding :10px; 
}