#root {
    height:100%;
}
html,body{
    margin: 0px;
    height: 100%;
}

.App {
    display: flex;
    height: 100%;
}
.App .sidebar{
    flex:1;
    background-color: #AABBCC;
    padding: 40px 0px 0px 20px;
}
.App .content{
    flex: 6;
    background-color: black;
    color: azure;
}

.App .sidebar .nav {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}